<ion-footer>
  <!-- <ion-toolbar>
    <ion-grid style="text-align: center;">
      <ion-col><a class="social" href="https://www.facebook.com/" target="_blank">
          <ion-icon style="font-size: 2rem; padding: 0px 30px 0px 30px;" name="logo-facebook"></ion-icon>
        </a></ion-col>
      <ion-col><a class="social" href="https://www.google.com/" target="_blank">
          <ion-icon style="font-size: 2rem; padding: 0px 30px 0px 30px;" name="logo-google"></ion-icon>
        </a></ion-col>
    </ion-grid>
    <ion-grid style="text-align: center; margin-top: -15px;">
      <h6>Contate-nos</h6>
    </ion-grid>
  </ion-toolbar> -->
</ion-footer>