<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="container-formulario">

    <ion-row style="padding: 20px;">
      <ion-col size="12">
        <h4 class="title-page">Simulação realizada com sucesso!!!</h4>
      </ion-col>
    </ion-row>
    <div class="row">
      <div class="mb-3">
        <!-- <label for="formGroupExampleInput" class="form-label">Valor do imóvel</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder"> -->

      </div>
      <div class="mb-3">
        <ion-button expand="block">Nova Simulação</ion-button>
      </div>

    </div>

  </div>
</ion-content>
<app-footer></app-footer>