<ion-content [fullscreen]="true">
  <app-header></app-header>

  <div id="container">
    <ion-title class="title-page">
      <strong>Como Podemos<br> Ajuda-lo?</strong>
    </ion-title>

    <div class="mb-3" style="margin-top: 20px;" *ngIf="showButton">
      <ion-button expand="block" color="success" [routerLink]="['/cliente-lista']">Lista de Clientes</ion-button>
    </div>
    <div class="mb-3" *ngIf="showButton">
      <ion-button expand="block" color="success" [routerLink]="['/usuario-registro']">Registrar Usuário</ion-button>
    </div>
    <div class="mb-3">
      <ion-button expand="block" color="success" [routerLink]="['/cliente-financiamento']">Simular Financiamento
      </ion-button>
    </div>

  </div>

</ion-content>

<app-footer></app-footer>